---
const response = await fetch("http://dummyjson.com/users");
const data = await response.json();
var users = data.users;
---


<ul class="list-unstyled chat-list mt-2 mb-0">
{users.map((data)=>{
return (<li class="clearfix">
        <img src={data.image} alt="avatar">
        <div class="about">
            <div class="name">{data.firstName} {data.lastName} </div>
            <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
        </div>
    </li>)

})}
    
    
</ul>